.icon_context_menu {
    & .icon_bar {
        display: block;
        background-color: #fff;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        margin-left: 3px;
        margin-right: 3px;
    }

    & .icon_bar + .icon_bar {
        margin-top: 2px;
    }
}

.icon_hamburger {
    display: inline-block;
    width: 18px;
    margin: 0 40px 0 0;

    & .icon_bar {
        background: #fff;
        display: block;
        height: 2px;
        margin: 0;

        opacity: 1;
        -webkit-transition: -webkit-transform 0.1s ease-in;
        transition: transform 0.1s ease-in;
        transform-origin: 50% 50%;
    }

    & .icon_bar:nth-child(2) {
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .dropdown.open & .icon_bar:nth-child(1) {
        -webkit-transform: translate3d(0, 6px, 0) rotate(45deg);
        transform: translate3d(0, 6px, 0) rotate(45deg);
    }

    .dropdown.open & .icon_bar:nth-child(2) {
        opacity: 0;
    }

    .dropdown.open & .icon_bar:nth-child(3) {
        -webkit-transform: translate3d(0, -6px, 0) rotate(-45deg);
        transform: translate3d(0, -6px, 0) rotate(-45deg);
    }
}
